<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Nepali Cravings</title>
<link rel="stylesheet" href="/css/review.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/newnav.css">
<link rel="stylesheet" href="css/footer.css">

<!------- Poppins Font ------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/css/cdnjs/sweetalert.min.css">
<script src="/js/cdnjs/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.9/css/star-rating.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.9/js/star-rating.min.js"></script>

</head>
<body>

	<!----------------------START OF THE NAVIGATION BAR SECTION------------------------>
	<section id="nav-bar">
		<div class="topnav" id="myTopnav">
			<div id="lofo">
				<a href="#"><img align="left" src="image/LOGO.png"></a>
			</div>
			<div id="newlists" class="newlist">
				<div>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div id="extranav">
					<div class="navlist">
						<a th:href="@{/adminindex}"><i class="fa fa-home"></i> Home</a> <a th:href="@{/adminuser}"><i
							class="fa fa-fw fa-user"></i> Users</a> 
						<a href="" data-toggle="collapse" data-target="#list" id="lists">
							<img th:src="@{/admin/{id}(id=${admins.id})}"><i
							class="fa fa-caret-down fa-2x"></i>
						</a>
					</div>
					<div id="mai" align="right">
						<ul id="list" class="collapse">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/adminProfile}"><i class="fa fa-fw fa-user"></i>Profile</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/logout}"><i class="fa fa-fw fa-sign-out"></i>Log
									out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!----------------------END OF THE NAVIGATION BAR SECTION------------------------>

	<div th:each="mes:${usermessages}">
		<section style=" display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; font-family: poppins; margin-top: 50px;" id="rests">
  <h1 style="font-size: 2.2rem; font-weight: 500; background-color: black; color: white; padding: 10px 20px;">REVIEWS</h1>
			<div id="mainrev">
				<div>
					<img th:src="@{/user/{id}(id=${mes.user.getId()})}">
				</div>
				<div id="reviewpart">
					<label>User email:</label> <label style="text-transform: lowercase; font-size: medium;" th:text="${mes.user.getEmail()}"></label><br>
					<label>Rating: </label><input
					th:value="${mes.starsweb}" class="rating" readonly><br>
					<label>Comment: </label>
					<label style="font-size: medium;" th:text="${mes.messagefor}" readonly></label>
					<br>
				<button type="button" style="padding: 10px; margin-top: 5px; font-size: 12px;" class="btn btn-outline-primary" data-toggle='modal'
					data-target='#myModal' th:attrappend="data-target=${mes.id}">Reply</button>
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					th:attrappend="id=${mes.id}" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content" id="contents">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel" style="font-size: small;" >
									<i class="fa fa-fw fa-warning"></i>Reply to message
								</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<form th:action="@{/userReply}" id="mesform"
								th:attrappend="id=${mes.id}" th:object="${usemessage}"
								method="post">
								<div class="modal-body">
									<input type="hidden" th:value="${mes.id}" class="rsmes">
									<label>Reply To: &nbsp;</label><label style="text-transform: lowercase; font-size: medium;" id="restemail"
										th:text="${mes.user.getEmail()}"></label> <br> <br>
										<label>Message:</label> <br>
									<textarea style="width: 100%;" class="form-control" cols="10" rows="5" th:field="*{messagefor}"></textarea>
									<input type="hidden" name="user"
										th:value="${mes.user.getId()}">
									<div class="modal-footer">
										<button type="button" class="btn btn-primary" style="font-size: small;" id="mesages"
											th:attrappend="id=${mes.id}">Yes</button>
										<button type="button" class="btn btn-secondary" style="font-size: small;" 
											data-dismiss="modal">No</button>
									</div>
								</div>
							</form>
							<script type="text/javascript">
								$("input[class=rsmes]")
										.each(
												function() {
													var id = $(this).attr(
															"value");
													$('#mesages' + id)
															.on(
																	'click',
																	function(e) {
																		const csrf = $(
																				this)
																				.find(
																						'input[name="_csrf"]')
																				.val();
																		$
																				.ajax({
																					type : 'POST',
																					url : '/userReply',
																					data : $(
																							'#mesform'
																									+ id)
																							.serializeArray(),
																					cache : false,
																					success : function(
																							data) {
																						swal(
																								{
																									title : "Successful!",
																									text : "Successfully Replied to Message!",
																									icon : "success",
																								},
																								function() {
																									window.location = "/usermessage";
																								});

																					},
																					error : function(
																							data) {
																						swal(
																								{
																									title : "Error!",
																									text : "Error In replying to message!",
																									icon : "error",
																								},
																								function() {
																									window.location = "/usermessage";
																								});
																					}
																				});
																	});
												});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			var s = document.getElementById("newlists");
			if (s.className === "newlist") {
				s.className += " responsive";
			} else {
				x.className = "topnav";
				s.className = "newlist"
			}
		}
	</script>
</body>
</html>