<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Nepali Cravings</title>
<link rel="stylesheet" href="css/newnav.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>

</head>
<body>

	<!----------------------START OF THE NAVIGATION BAR SECTION------------------------>
	<section id="nav-bar">
		<div class="topnav" id="myTopnav">
			<div id="lofo">
				<a href="#"><img align="left" src="image/LOGO.png"></a>
			</div>
			<div id="newlists" class="newlist">
				<div>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div id="extranav">
					<div class="navlist">
						<a th:href="@{/adminindex}"><i class="fa fa-home"></i> Home</a> <a th:href="@{/adminuser}"><i
							class="fa fa-fw fa-user"></i> Users</a> 
						<a href="" data-toggle="collapse" data-target="#list" id="lists">
							<img th:src="@{/admin/{id}(id=${admins.id})}"><i
							class="fa fa-caret-down fa-2x"></i>
						</a>
					</div>
					<div id="mai" align="right">
						<ul id="list" class="collapse">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/adminProfile}"><i class="fa fa-fw fa-user"></i>Profile</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/logout}"><i class="fa fa-fw fa-sign-out"></i>Log
									out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!----------------------END OF THE NAVIGATION BAR SECTION------------------------>


	<section id="restable" style="margin-top: 30px; margin-left: 40px; margin-right: 40px; border-bottom: 2px solid #e6e6e6;">
		<!----------------------START OF THE RESTAURANT LIST SECTION------------------------>
		<section id="restTable">
			<table id="restaura" class="display" style="width: 100%">
				<thead style="background-color: #e6e6e6;">
					<tr>
						<th>NAME</th>
						<th>IMAGE</th>
						<th>ADDRESS</th>
						<th>EMAIL</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="restaurant: ${rest}">
						<td th:text="${restaurant.rest_name}"></td>
						<td id="tabImage"><img
							th:src="@{/restaurant/{id}(id=${restaurant.id})}"></td>
						<td th:text="${restaurant.address}"></td>
						<td th:text="${restaurant.email}"></td>
						<td>
							<button type="button" class="btn btn-outline-danger" data-toggle='modal'
								data-target='#deleteModel'
								th:attrappend="data-target=${restaurant.id}">Delete</button>
							<div class="modal fade" id="deleteModel" tabindex="-1"
								role="dialog" th:attrappend="id=${restaurant.id}"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="contents">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												<i class="fa fa-fw fa-warning"></i>Cancel Request
											</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<i class="fa fa-fw fa-warning fa-4x" id="warn"></i> <label>Are
												you sure you want to delete? <span
												th:text="${restaurant.rest_name}"></span>
											</label>
										</div>
										<div class="modal-footer">
											<a th:href="@{/deleterestaurant/{id}(id=${restaurant.id})}"><button
													type="submit" class="btn btn-primary">Yes</button></a>
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">No</button>
										</div>

									</div>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</section>
		<!----------------------END OF THE RESTAURANT LIST SECTION------------------------>


	</section>
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="contents">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-fw fa-warning"></i>Warning!!!
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<i class="fa fa-fw fa-warning fa-4x" id="warn"></i> <label
						th:text="${message}"></label>
				</div>
				<div class="modal-footer">

					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ok</button>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="contents">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-fw fa-check-circle"></i>Success!!!
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalbody">
					<i class="fa fa-fw fa-check-circle fa-4x" id="warn"></i> <label
						th:text="${restapproveSucess}"></label>
				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ok</button>
				</div>

			</div>
		</div>
	</div>


	<!------------------------------START OF THE FOOTER SECTION---------------------------------------->
	<section id="footer">
			<p>
				<i class="fa fa-copyright"></i> 2021 Nepali Cravings Pvt. Ltd. All
				Rights Reserved.
			</p>
	</section>
	<!------------------------------END OF THE FOOTER SECTION -------------------------------------->
	<script th:if="${error}">
		$(function() {
		
			console.log("ggg");
			$('#myModal2').modal('show');
		});
	</script>
	<script th:if="${restapproveSucess}">
		$(function() {
			$('#myModal3').modal('show');
		});
	</script>

	<!----------------------START OF JAVASCRIPT FOR RESTAURANT SEARCH BAR------------------------>
	<script th:inline="javascript">
		/*<![CDATA[*/			
			var restaurant=/*[[${rest}]]*/;
		/*]]>*/
			$(document).ready(function(){
		    $('#restaura').dataTable();
		});
		$('#textSearch').on('keyup', function(){
			var value=$(this).val();
			var data=FilterFunction(value, restaurant);
			console.log(data);
			rebuildTable(data);
		});

		function FilterFunction(value, data){
			var filterData=[];
			for(var i=0;i<data.length;i++){
				value= value.toLowerCase();
				var fname=data[i].name.toLowerCase();
				var addr=data[i].address.toLowerCase();
		
				if(fname.includes(value)||addr.includes(value)){
					filterData.push(data[i]);
				}
			}
			return filterData;
		}

		function rebuildTable(data){
			var tbody= document.getElementById('body')
			tbody.innerHTML=''
			for(var i=0;i<data.length;i++){
				console.log(data[i].id);
				var row='<tr>'+
				'<td>'+data[i].id+'</td>'+
				'<td>'+data[i].name+'</td>'+
				'<td id="tabImage"> <img  src="/restaurant/'+data[i].id+'"></td>'+
				'<td>'+data[i].address+'</td>'+
				'<td>'+data[i].email+'</td>'+
				'<td><a href="/deleterestaurant/'+data[i].id+'">'+
				'<button type ="button" class="btn btn-primary">DELETE</button></a>'+
				'</td></tr>'
				tbody.innerHTML+=row;
			}
		}
	</script>
	<!----------------------END OF JAVASCRIPT FOR SEARCH BAR------------------------>

</body>
</html>