<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Nepali Cravings</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/newnav.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/cdnjs/sweetalert.min.css">
<script src="/js/cdnjs/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
</head>
<body>

	<!----------------------------------START OF THE NAVIGATION BAR SECTION----------------------------------->
	<section id="nav-bar">
		<div class="topnav" id="myTopnav">

			<div id="lofo">
				<a href="#"><img align="left" src="image/LOGO.png"></a>

			</div>
			<div id="newlists" class="newlist">
				<div>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div id="extranav">
					<div class="navlist">
						<a th:href="@{/restaurantindex}"><i class="fa fa-home"></i> Home</a> <a
							th:href="@{/restorder}"><i
							class="fa fa-fw fa-cart-arrow-down"></i> Orders</a> <a
							th:href="@{/reviewsofrest}"><i class="fa fa-fw fa-building"></i> Reviews</a>
						<a href="" data-toggle="collapse" data-target="#list" id="lists">
							<img th:src="@{/restaurant/{id}(id=${restaurant.id})}"><i
							class="fa fa-caret-down fa-2x"></i>
						</a>
					</div>
					<div id="mai" align="right">
						<ul id="list" class="collapse">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/restProfile}"><i class="fa fa-fw fa-user"></i>Profile</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/logout}"><i class="fa fa-fw fa-sign-out"></i>Log
									out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!----------------------------------END OF THE NAVIGATION BAR SECTION----------------------------------->



	<section id="bgTable" style="margin-top: 30px; margin-left: 40px; margin-right: 40px; border-bottom: 2px solid #e6e6e6;">
		<!-----------------------------START OF THE LIST OF ORDERS OF RESTAURANT SECTION------------------------------>
		<section id="restTable">
			<table id="restaurantsorder" class="display" style="width: 100%">
				<thead style="background-color: #e6e6e6;">
					<tr>
						<th>ID</th>
						<th>QUANTITY</th>
						<th>TOTAL PRICE</th>
						<th>PAYMENT METHOD</th>
						<th>STATUS</th>
						<th>FOOD</th>
						<th>USER</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody id="body">
					<tr th:each="order: ${orders}">
						<td th:text="${order.id}"></td>
						<td th:text="${order.quantity}"></td>
						<td th:text="${order.totalPrice}"></td>
						<td th:text="${order.payment.paymentMethod}"></td>
						<td th:if="${order.delivery.getStatus()=='delivered'}" class="text-success" style="text-transform: capitalize;"
							th:text="${order.delivery.status}"></td>
						<td th:if="${order.delivery.getStatus()=='sent'}" class="text-success" style="text-transform: capitalize;"
							th:text="${order.delivery.status}"></td>
						<td th:if="${order.delivery.status=='pending'}" class="text-danger" style="text-transform: capitalize;"
							th:text="${order.delivery.status}"></td>
						<td th:text="${order.foods.getFoodName()}"></td>
						<td th:text="${order.user.getEmail()}"></td>
						<td><div th:if="${order.delivery.getStatus()!='delivered' && order.delivery.getStatus()!='sent'}">
								<button type="button" class="btn btn-outline-primary"
									data-toggle='modal' data-target='#myModal'
									th:attrappend="data-target=${order.id}">Send</button>
							</div>
							<div
								th:if="${order.delivery.getStatus()!='delivered' && order.delivery.getStatus()!='sent'&&
								order.payment.getPaymentMethod()!='Payment Through Card'}">
								<button type="button" class="btn btn-outline-warning"
									data-toggle='modal' data-target='#cancelorder'
									th:attrappend="data-target=${order.id}">Cancel</button>
							</div>

							<div th:if="${order.delivery.getStatus()=='delivered'}">
								<button type="button" class="btn btn-outline-danger"
									data-toggle='modal' data-target='#orderdelete'
									th:attrappend="data-target=${order.id}">Delete</button>
							</div>
							<div class="modal fade" id="orderdelete" tabindex="-1"
								role="dialog" th:attrappend="id=${order.id}"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="contents">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												<i class="fa fa-fw fa-warning"></i>Confirm order
											</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<i class="fa fa-fw fa-warning fa-4x" id="warn"></i> <label>Do
												you want to delete this order???</label>
										</div>
										<div class="modal-footer">
											<a th:href="@{/deleteorder/{id}(id=${order.id})}"><button
													type="submit" class="btn btn-primary">Yes</button></a>
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">No</button>
										</div>

									</div>
								</div>
							</div>
							<div class="modal fade" id="cancelorder" tabindex="-1"
								role="dialog" th:attrappend="id=${order.id}"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="contents">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												<i class="fa fa-fw fa-warning"></i>Cancel order
											</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<i class="fa fa-fw fa-warning fa-4x" id="warn"></i> <label>Do
												you want to cancel this order???</label>
										</div>
										<div class="modal-footer">
											<a th:href="@{/cancelorder/{id}(id=${order.id})}"><button
													type="submit" class="btn btn-primary">Yes</button></a>
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">No</button>
										</div>

									</div>
								</div>
							</div>
							<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
								th:attrappend="id=${order.id}"
								aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content" id="contents">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLabel">
												<i class="fa fa-fw fa-warning"></i>Confirm order
											</h5>
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body">
											<i class="fa fa-fw fa-warning fa-4x" id="warn"></i> <label>Do
												you want to send this order???</label>
										</div>
										<div class="modal-footer">
											<a th:href="@{/sendorder/{id}(id=${order.id})}"><button
													type="submit" class="btn btn-primary">Yes</button></a>
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">No</button>
										</div>

									</div>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</section>
		<!-----------------------------END OF THE LIST OF ORDERS OF RESTAURANT SECTION------------------------------>
	</section>

	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="contents">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-fw fa-check-circle"></i>Success!!!
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<i class="fa fa-fw fa-check-circle fa-4x" id="warn"></i> <label
						th:text="${sendSuccess}"></label>
				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ok</button>
				</div>

			</div>
		</div>
	</div>


	<div class="modal fade" id="myModal3" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content" id="contents">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">
						<i class="fa fa-fw fa-skull-crossbone"></i>Error!!!
					</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalbody">
					<i class="fa fa-fw fa-skull-crossbone fa-4x" id="warn"></i> <label
						th:text="${sendError}"></label>
				</div>

				<div class="modal-footer">

					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">ok</button>
				</div>

			</div>
		</div>
	</div>

	<!------------------------------START OF THE FOOTER SECTION---------------------------------------->
	<section id="footer">
			<p>
				<i class="fa fa-copyright"></i> 2021 Nepali Cravings Pvt. Ltd. All
				Rights Reserved.
			</p>
	</section>
	<!------------------------------END OF THE FOOTER SECTION------------------------------------>

	<script th:if="${sendSuccess}">
		$(function () {
			swal(
					{
						title : "Successful!",
						text : "Order is sent successfully!",
						icon : "success",
					},
					function() {
						window.location = "/restorder";
					});
    	});
	</script>
	<script th:if="${sendError}">
		$(function () {
			swal(
					{
						title : "Error!",
						text : "Error In sending order!",
						icon : "error",
					},
					function() {
						window.location = "/restorder";
					});
    	});
	</script>

	<!----------------------START OF JAVASCRIPT FOR ORDERS SEARCH BAR------------------------>
	<script th:inline="javascript">
		/*<![CDATA[*/			
			var orders=/*[[${orders}]]*/;
		/*]]>*/
		console.log(orders);
		$(document).ready(function(){
		    $('#restaurantsorder').dataTable();
		});
		$('#textSearch').on('keyup', function(){
			var value=$(this).val();
			var data=FilterFunction(value, orders);
			console.log(data);
			rebuildTable(data);
		});

		function FilterFunction(value, data){
			var filterData=[];
			for(var i=0;i<data.length;i++){
				value= value.toLowerCase();
				console.log(data[i].food.name);
				console.log(data[i].user.firstName);
				var fname=data[i].food.name.toLowerCase();
				var uname=data[i].user.firstName.toLowerCase();
				if(fname.includes(value)||uname.includes(value)){
					filterData.push(data[i]);
				}
			}
			return filterData;
		}

		function rebuildTable(data){
			var tbody= document.getElementById('body')
			tbody.innerHTML=''
			for(var i=0;i<data.length;i++){
				if(data[i].status=="sent"){
					var td='<td class="coller">'+data[i].status+'</td>'
				}
				else{
					var td='<td class="secColler">'+data[i].status+'</td>'
				}
				console.log(data[i].id);
				var row='<tr>'+
				'<td>'+data[i].id+'</td>'+
				'<td>'+data[i].quantity+'</td>'+
				'<td>'+data[i].totalPrice+'</td>'+
				'<td id="tabImage"><img src="/food/'+data[i].food.id+'"></td>'+
				'<td>'+data[i].paymentMethod+'</td>'+
				td+	
				'<td>'+data[i].food.name+'</td>'+
				'<td>'+data[i].user.email+'</td>'+
				'<td><a href="/sendorder/'+data[i].id+'"><button type="button" class="btn btn-primary">sent</button></a>'+
				'</td></tr>'
				tbody.innerHTML+=row;
			}
		}
	</script>
	<!----------------------END OF JAVASCRIPT FOR FOOD SEARCH BAR------------------------>
	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			var s = document.getElementById("newlists");
			if (s.className === "newlist") {
				s.className += " responsive";
			} else {
				x.className = "topnav";
				s.className = "newlist"
			}
		}
	</script>


</body>
</html>