<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Nepali Cravings</title>

<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/newnav.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/dashboard.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/review.css">

<!------- Poppins Font ------->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.9/css/star-rating.min.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.9/js/star-rating.min.js"></script>
</head>
<body>
	<!---------------------------START OF THE NAVIGATION BAR SECTION---------------------------->
	<section id="nav-bar">
		<div class="mytopnav" id="myTopnav">
			<div id="lofo">
				<a href="#"><img align="left" src="image/LOGO.png"></a>
			</div>
			<div id="newlists" class="newlist">
				<div>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<div>
					<div class="navlist">
						<a th:href="@{/userindex}" class="active"><i class="fa fa-home"></i> Home</a> <a
							th:href="@{/userorders}"><i
							class="fa fa-fw fa-cart-arrow-down"></i> My Orders</a> <a
							th:href="@{/selectrest}"><i class="fa fa-fw fa-building"></i> Restaurants</a>
						<a href="/selectforReview"><i class="fa fa-star"></i> Reviews</a>
						<a href="" data-toggle="collapse" data-target="#list" id="lists">
							<img th:src="@{/user/{id}(id=${user.id})}"><i
							class="fa fa-caret-down fa-2x"></i>
						</a>

					</div>
					<div id="mai" align="right">
						<ul id="list" class="collapse">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/userProfile}"><i class="fa fa-fw fa-user"></i>Profile</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/usercart}"><i class="fa fa-fw fa-shopping-cart"></i>My
									cart</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{/logout}"><i class="fa fa-fw fa-sign-out"></i>Log
									out</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</section>
	<!---------------------------END OF THE NAVIGATION BAR SECTION---------------------------->
	
	
	<!---------------------------SEARCH BOX SECTION---------------------------->
	<section id="indexbody">
		<div id="searchbar">
			<input id="textSearch" type="text" class="form-control" name="keyword" 
			 placeholder="&#xF002; Order from your favourite resturants"
				style="padding: 21.5px; font-family: Arial, FontAwesome; font-size: medium;">
			<div>
				<div class="list-group" id="show-list"></div>
			</div>

		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/
			var restaurant=/*[[${restaurant}]]*/
		/*]]>*/
		$('#textSearch').on('keyup', function(){
			var value=$(this).val();
			if(value!=null){
			var data=FilterFunction(value, restaurant);
			console.log(data);
			rebuildTable(data);
			}
			
			
		});

		function FilterFunction(value, data){
			var filterData=[];
			for(var i=0;i<data.length;i++){
				value= value.toLowerCase();
				var fname=data[i].rest_name.toLowerCase();
				if(fname.includes(value)){
					filterData.push(data[i]);
				}
			}
			return filterData;
		}

		function rebuildTable(data){
			var tbody= document.getElementById('show-list')
			tbody.innerHTML=''
			
			for(var i=0;i<data.length;i++){
				console.log(data[i].id);
				var rows='<a href=menu/'+data[i].id+'><h5>'+data[i].rest_name+'</h5></a>'
				tbody.innerHTML+=rows;
			}
		}
		
	</script>
	
	</section>
	
	<!---------------------- RESTAURANT DISPLAY SECTION --------------------------->
	<style type="text/css">
	.col-md-4 .nav-link:hover {
      color: black;
    }
    .col-md-4 a:hover {
      text-decoration: none; 
    }
    </style>
	
		<section style=" display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; font-family: poppins; margin-top: 100px;" id="rests">
  <h1 style="font-size: 2.2rem; font-weight: 500; background-color: black; color: white; padding: 10px 20px;">Top Picks</h1>
				<div class="row" id="indexrow" style="margin-left: 30px;">
					<div class="col-md-4" th:each="restau:${rest}" id="restpic">
						<div style="background-color:white; border-radius: 5px; padding:25px; width: 450px" align="center">
							<a th:href="@{menu/{id}(id=${restau.getId()})}">
							<img th:src="@{/restaurant/{id}(id=${restau.getId()})}" class="img-thumbnail" style="border-radius: 15px;">
							<th:h5 class="nav-link" style="font-family: montserrat; font-size: 25px;" th:text="${restau.getRest_name()}"></th:h5></a>
						</div>
					</div>
				</div>

		</section>


		<!----------------------CONTACT US SECTION------------------------>
		<style type="text/css">
			.testimonial-heading h1 {
				font-size: 2.2rem; 
				font-weight: 500; 
				background-color: black; 
				color: white; 
				padding: 10px 20px;
			}
		</style>
		
		<section style=" display: flex; justify-content: center; align-items: center; flex-direction: column; width: 100%; font-family: poppins; margin-top: 100px;">
		  <div class="testimonial-heading">
		    <h1>Contact Us</h1>
		  </div>
		</section>
		<div id="contact">
		<div class="contain" id="ratingweb">
		<h3>Review the website </h3>
			<div class="row" style="margin-bottom: 25px;">
				<div class="col-md-6" id="cont">
					<form class="contact-form" th:action="@{/messagefromuser}" th:object="${messages}" method="post">
						<div class="form-group">
					 <input value="0" type="hidden" class="rating"
									th:field="*{starsweb}" name="stars">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Email ID"
								required="required" style="font-size: small; padding: 1.5%;">
						</div>
						<div class="form-group">
							<textarea rows="4" class="form-control"  th:field="*{messagefor}"
								placeholder="Your Message" required="required" style="font-size: small; padding: 1.5%;"></textarea>
						</div>
						<input type="submit" class="btn btn-primary" value="Review" style="font-size: small;" name="msg">
					</form>
				</div>
				<div class="col-md-6 contact-info" style="align: right;;">
					<div class="follow">
						<b>Address:</b><i class="fa fa-map-marker"></i> Tinkune
					</div>
					<div class="follow">
						<b>Phone:</b><i class="fa fa-phone"></i>+977-9840791702
					</div>
					<div class="follow">
						<b>Email:</b><i class="fa fa-envelope-o"></i>cravingsnepali@gmail.com
					</div>
					<div class="follow">
						<label><b>Get Social:</b></label> <a href="www.facebook.com"><i
							class="fa fa-facebook"></i></a> <a href="www.twitter.com"><i
							class="fa fa-twitter"></i></a> <a href="https://www.instagram.com/nepalicravings/"><i
							class="fa fa-instagram"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>


	

	<!------------------------------START OF THE FOOTER SECTION---------------------------------------->
	<section id="footer">
			<p>
				<i class="fa fa-copyright"></i> 2021 Nepali Cravings Pvt. Ltd. All
				Rights Reserved.
			</p>
	</section>
	<!------------------------------END OF THE FOOTER SECTION------------------------------------>
	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			var s = document.getElementById("newlists");
			if (s.className === "newlist") {
				s.className += " responsive";

			} else {
				x.className = "topnav";
				s.className = "newlist"
			}
		}
	</script>
</body>
</html>